<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pridebot</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <style>
      h3.complete {
        background: palegreen;
      }
      h3.complete:after {
        content: '✅'
      }
    </style>

  </head>
  <body>
    <header>
      <h1>
        🏳️‍🌈 Pridebot 🏳️‍🌈
      </h1>
    </header>

    <main>
      
      <h2>
        Using this app:
      </h2>

      Simply text the name of a city to search for a pride event at <b>+1 (415) 223-8802</b>. If there is a match, it will respond with the soonest event!
      
      <br><br>
      
      Please note that this search is looking for a match to a specific city (not case sensitive), and will not look for the nearest event to that city.
      
      <br><br>
      
      Made by <a href="https://griffin.run" target="_blank"> Griffin Solot-Kehl</a>
    </main>
  </body>
</html>
